<div class="container">
  <p>The delete user and user index api routes are restricted to users with the 'admin' role.</p>
  <ul class="list-group user-list">
    <li class="list-group-item" ng-repeat="user in admin.users">
	    <div class="user-info">
	        <strong>{{user.name}}</strong><br>
	        <span class="text-muted">{{user.email}}</span>
	    </div>
        <a ng-click="admin.delete(user)" class="trash"><span class="fa fa-trash fa-2x"></span></a>
    </li>
  </ul>
    <a class="btn btn-default"  role="button">Register More Users</a>
    <br>
</div>

<pre>

Use cases:

0. System Admin can view the list of companies and its users (primary, regular user).
1. System Admin also can activate/de-activate a company and its user.
3. Admin can register a company and its primary user account here on behalf of a company

Company Account Type:
    Shipper/Consignee (BCO)  --> role: 'user'
    Trucking Company  --> role:'carrier'
    Freight Forwarder --> role: 'user'
    Customs Broker (BCO) --> role: 'user'
    Freight Broker --> role: 'user'
    Container Terminal (BCO) --> role: 'user'
    Chassis Provider (BCO) -->role: 'user'
    Container Leasing Company (BCO)--> role: 'user'


Depends on the account type, on the second page, ask for account type specific information there.

Trucking Company

Company Name [text]
Business Type [select from list: Sole Proprietor/Corporation/LLC/LLP]
First & Last Name [text]
Tax ID number [text]
MC number
DOT number
SCAC number
Public Liability Insurance Provider / Policy Number
Cargo Insurance Provider / Policy Number
Hazmat? Yes/No
Area of Operation [Select from List: Areas Container Terminals Located]


Freight Forwarder

Company Name [text]
Business Type [select from list: Sole Proprietor/Corporation/LLC/LLP]
First & Last Name [text]
Tax ID number [text]
SCAC number


Beneficial Cargo Owner(Shipper/Consignee) Registration
  Company Name [text]
Business Type [select from list: Sole Proprietor/Corporation/LLC/LLP]
First & Last Name [text]
Tax ID number [text]


It will create a company and a primary user.
The primary can additional users to his company.
</pre>
