.trash { color:rgb(209, 91, 71); }

.user-list li {
	display: flex;
	border: none;
	border-bottom: 1px lightgray solid;
	margin-bottom: 0;
}
.user-list li:last-child {
	border-bottom: none;
}
.user-list li .user-info {
	flex-grow: 1;
}
.user-list li .trash {
	display: flex;
	align-items: center;
	text-decoration: none;
}
#company-container > tbody > tr > td{
	vertical-align: middle;
}
#company-container > tbody > tr.collapsed > td:nth-child(1), #company-container > tbody > tr.expanded > td:nth-child(1){
	text-align: center;
}
#company-container > tbody > tr:nth-child(even){
	transition: height 2s linear 1s;
}
tr.collapsed + tr{
	display: none;
	height: 0px;
}
tr.expanded + tr{
	display: table-row;
	height: auto;
}
