<div class="container">

<h2>Add Export Job</h2>
	
<table class="table">
<tr> <td>Client Reference #</td>
<td><input type="text" class="form-control" placeholder="Reference #"></td>
<td>Booking #</td>
<td><input type="text" class="form-control" placeholder="Booking #"></td>
</tr> 
<tr> <td>Port of loading</td>
<td><input type="text" class="form-control" placeholder="LB"></td>
<td>Date of departure</td>
<td><div class="form-group">
    <input type="text" class="form-control" uib-datepicker-popup="{{exportJobCtrl.format}}" ng-model="exportJobCtrl.date" /></div>
</td>
</tr> 
<tr> <td>Marine Carrier #</td>
<td><input type="text" class="form-control" placeholder="Carrier #"></td>
<td>Terminal</td>
<td><input type="text" class="form-control" placeholder="ITS"></td>
</tr> 
<tr> <td>Vessal Name</td>
<td><input type="text" class="form-control" placeholder="Cosco"></td>
<td>Voyage #</td>
<td><input type="text" class="form-control" placeholder="Voyage #"></td>
</tr> 
<tr> <td>Shipper</td>
<td><input type="text" class="form-control" placeholder="Shipper"></td>
<td>Consignee</td>
<td><input type="text" class="form-control" placeholder="Consignee name"></td>
</tr> 
<tr> <td>Empty Start Date</td>
<td><input type="date" class="form-control" placeholder="03/21/2017"></td>
<td>Full Start Date/Cut off Date</td>
<td><input type="date" class="form-control" placeholder="03/24/2017"></td>
</tr> 
<tr> <td>Job Type</td>
<td><label class="radio-inline"><input type="radio" aria-label="..."> Live Load</label>
<label class="radio-inline"><input type="radio" aria-label="..."> Drop and Pickup</label></td>
<td>Containers</td>
<td><input type="email" class="form-control" placeholder="Reference #"></td>
</tr>
</table>
</div>
<div class="container">

<button class="btn btn-danger pull-left" type="button" ng-click="exportJobCtrl.cancel()">Cancel</button>
<button class="btn btn-success pull-right" type="button" ng-click="exportJobCtrl.save()">Save</button>

</div>
