<div class="container-fluid">
  <h1>Angular Timeline</h1>
  <button ng-click="playgroundCtrl.addEvent()">Add New Event</button>
  <button ng-click="playgroundCtrl.leftAlign()">Left Side</button>
  <button ng-click="playgroundCtrl.rightAlign()">Right Side</button>
  <button ng-click="playgroundCtrl.defaultAlign()">Alternate Sides</button>
  <br/>
  <br/>
  <timeline>
    <!-- can also hard-code to side="left" or side="right" -->
    <timeline-event ng-repeat="event in playgroundCtrl.events" side="{{playgroundCtrl.side}}">
      <!-- uses angular-scroll-animate to give it some pop -->
      <timeline-badge class="{{event.badgeClass}} timeline-hidden"
                      when-visible="animateElementIn" when-not-visible="animateElementOut">
        <i class="glyphicon {{event.badgeIconClass}}"></i>
      </timeline-badge>

      <!-- uses angular-scroll-animate to give it some pop -->
      <timeline-panel class="{{event.badgeClass}} timeline-hidden"
                      when-visible="animateElementIn" when-not-visible="animateElementOut">
        <timeline-heading>
          <h4>{{event.title}}</h4>

          <p ng-if="event.when">
            <small class="text-muted"><i class="glyphicon glyphicon-time"></i>{{event.when}}</small>
          </p>
          <p ng-if="event.titleContentHtml" ng-bind-html="event.titleContentHtml">
          </p>
        </timeline-heading>
        <p ng-bind-html="event.contentHtml"></p>
        <timeline-footer ng-if="event.footerContentHtml">
          <span ng-bind-html="event.footerContentHtml"></span>
        </timeline-footer>
      </timeline-panel>
    </timeline-event>
  </timeline>
  <div>
  		<p>
  		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. " +
                  "Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor." +
                  "Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, " +
                  "ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor." +
                  "Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>
</div>

