<!--Timeline widget http://rp.js.org/angular-timeline/example/index.html-->
<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading"><b>Import Job $280.00</b></div>
        <div class="panel-body">

            <table class="table">

                <tr> <td>Reference #</td>
                    <td><input type="text" class="form-control" placeholder="Reference #"></td>
                    <td>BL #</td>
                    <td><input type="text" class="form-control" placeholder="Reference #"></td>
                </tr>
                <tr> <td>Port of Discharge #</td>
                    <td><input type="text" class="form-control" placeholder="LB"></td>
                    <td>Date of Discharge</td>
                    <td><div class="form-group">
                        <input type="text" class="form-control" uib-datepicker-popup="{{importJobCtrl.format}}" ng-model="importJobCtrl.date" /></div>
                    </td>
                </tr>
                <tr> <td>Pick Up Location</td>
                    <td colspan="3"><input type="text" class="form-control" placeholder="location"></td>
                    
                </tr>
                <tr> <td>Marine Carrier #</td>
                    <td><input type="text" class="form-control" placeholder="Carrier #"></td>
                    <td>Terminal</td>
                    <td><input type="text" class="form-control" placeholder="ITS"></td>
                </tr>
                <tr> <td>Vessal Name</td>
                    <td><input type="text" class="form-control" placeholder="Cosco"></td>
                    <td>Voyage #</td>
                    <td><input type="text" class="form-control" placeholder="Voyage #"></td>
                </tr>
                <tr> <td>Shipper</td>
                    <td><input type="text" class="form-control" placeholder="Shipper"></td>
                    <td>Consignee</td>
                    <td><input type="text" class="form-control" placeholder="Consignee name"></td>
                </tr>
                <tr> <td>Last Free Date(LFD)</td>
                    <td><input type="date" class="form-control" placeholder="03/21/2017"></td>
                    <td>LFD Return</td>
                    <td><input type="date" class="form-control" placeholder="03/24/2017"></td>
                </tr>
                <tr> <td>Job Type</td>
                    <td colspan="3"><label class="radio-inline"><input type="radio" aria-label="..."> Live Load</label>
                        <label class="radio-inline"><input type="radio" aria-label="..."> Drop and Pickup</label></td>
                </tr>
                <tr> <td>Containers</td>
                    <td colspan="3">To be displayed</td>
                </tr>

            </table>
        </div>

        <div class="panel-footer">
            <div>
                <button class="btn" type="button" ng-click="importJobCtrl.cancel()">Cancel</button>
                <button class="btn" type="button" ng-click="importJobCtrl.save()">Save</button>
                <button class="btn" type="button" ng-click="importJobCtrl.send()">Send</button>
                <button class="btn pull-right" type="button" ng-click="importJobCtrl.send()">Confirm</button>
            </div>
        </div>
    </div>
</div>
