<div class="container">

  <div class="row">
    <p role="group" aria-label="...">
    <a class="btn btn-default"  role="button" href="/jobs/importJob/?type=new">Add New Import Job</a>
    <a class="btn btn-default"  role="button" href="/jobs/exportJob/?type=new">Add New Export Job</a>
    <a class="btn btn-default"  role="button" href="/jobs/cross-down/?type=new">Add New Cross Town Job</a>
    </p>
  </div>
  <div class="row">
  <table ng-table="jobsCtrl.tableParams" class="table table-condensed" show-filter="true">
    <tr ng-repeat="job in $data">
      <td title="'Job'" filter="{ name: 'text'}" sortable="'name'"><a href="#" ng-click="display(job)">{{job.name}}</a></td>
      <td title="'Status'" sortable="'status'">
          To Be Displayed
      </td>
      <td title="'Containers'" sortable="'containers'">{{job.description.containers.length}}, but more details</td>
      <td title="'Type'" sortable="'type'">{{job.description.type}}, as representive icon</td>
      <td title="'Updated'" sortable="'updated'">{{job.updated}}, <br>should be displayed like " 3 mins ago"</td>
    </tr>
  </table>
  </div>

</div>

<br>
<pre>



This is the main page for customers (role='user').

customer can add, edit, delete jobs.

Once a job is ready for submission, customer can click on "send" to publish the job for quote from dispatcher.

Dispatcher will provide a quote to a job. 

If customer is happy with the quote, he can confirm.
If customer is not happy with the quote, he can reject the quote.


</pre>
