<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Sign up</h1>
    </div>
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="vm.register(form)" novalidate>

        <div class="form-group" ng-class="{ 'has-success': form.name.$valid && vm.submitted,
                                            'has-error': form.name.$invalid && vm.submitted }">
          <label>Name</label>

          <input type="text" name="name" class="form-control" ng-model="vm.user.name"
                 required/>
          <p class="help-block" ng-show="form.name.$error.required && vm.submitted">
            A name is required
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.email.$valid && vm.submitted,
                                            'has-error': form.email.$invalid && vm.submitted }">
          <label>Email</label>

          <input type="email" name="email" class="form-control" ng-model="vm.user.email"
                 required
                 mongoose-error/>
          <p class="help-block" ng-show="form.email.$error.email && vm.submitted">
            Doesn't look like a valid email.
          </p>
          <p class="help-block" ng-show="form.email.$error.required && vm.submitted">
            What's your email address?
          </p>
          <p class="help-block" ng-show="form.email.$error.mongoose">
            {{ vm.errors.email }}
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.email.$valid && vm.submitted,
                                            'has-error': form.email.$invalid && vm.submitted }">
          <label>Phone</label>

          <input type="text" name="phone" class="form-control" ng-model="vm.user.phone"
                 required
                 mongoose-error/>
          <p class="help-block" ng-show="form.phone.$error.phone && vm.submitted">
            Doesn't look like a valid phone.
          </p>
          <p class="help-block" ng-show="form.phone.$error.required && vm.submitted">
            What's your phone number?
          </p>
          <p class="help-block" ng-show="form.phone.$error.mongoose">
            {{ vm.errors.email }}
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.email.$valid && vm.submitted,
                                            'has-error': form.email.$invalid && vm.submitted }">
          <label>Address</label>

          <input type="text" name="address" class="form-control" ng-model="vm.user.street"
                 required
                 mongoose-error/>
          <p class="help-block" ng-show="form.address.$error.address && vm.submitted">
            Doesn't look like a valid phone.
          </p>
          <p class="help-block" ng-show="form.address.$error.required && vm.submitted">
            What's your phone number?
          </p>
          <p class="help-block" ng-show="form.address.$error.mongoose">
            {{ vm.errors.email }}
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.email.$valid && vm.submitted,
                                            'has-error': form.email.$invalid && vm.submitted }">
          <label>Type</label>
<pre>
    Shipper/Consignee (BCO) --> role: user
    Trucking Company        --> role: carrier
    Freight Forwarder       --> role: user
    Customs Broker (BCO)    --> role: user
    Freight Broker          --> role: user
    Container Terminal (BCO)--> role: user
    Chassis Provider (BCO)  --> role: user
    Container Leasing Company (BCO) --> role: user
</pre>

        </div>


        <div class="form-group" ng-class="{ 'has-success': form.password.$valid && vm.submitted,
                                            'has-error': form.password.$invalid && vm.submitted }">
          <label>Password</label>

          <input type="password" name="password" class="form-control" ng-model="vm.user.password"
                 ng-minlength="3"
                 required
                 mongoose-error/>
          <p class="help-block"
             ng-show="(form.password.$error.minlength || form.password.$error.required) && vm.submitted">
            Password must be at least 3 characters.
          </p>
          <p class="help-block" ng-show="form.password.$error.mongoose">
            {{ vm.errors.password }}
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.confirmPassword.$valid && vm.submitted,
                                            'has-error': form.confirmPassword.$invalid && vm.submitted }">
          <label>Confirm Password</label>
          <input type="password" name="confirmPassword" class="form-control" ng-model="vm.user.confirmPassword"
                 match="vm.user.password"
                 ng-minlength="3" required/>
          <p class="help-block"
             ng-show="form.confirmPassword.$error.match && vm.submitted">
            Passwords must match.
          </p>
        </div>
        <p><input type="checkbox"> I agree with <a href="#">the terms and conditions</a>.</p>
        <a class="btn btn-default"  role="button">Continue</a>
        <a class="btn btn-default"  role="button"> Cancel</a>

      </form>
    </div>
  </div>
  <hr>
</div>

<pre>

Relationship of User, Company
IntelModal:
    System Admin, Dispatchers
Customers:
    Company --> primary, additional users
Trucking Provider:
    Company --> Primary, drivers, and trucks

    Signup means registering a company and its primary user
    Company primary user can add additional users or drivers or trucks.


    During signup, depends on the account type, on the second page, it will ask for account type specific information there.

Account Type:
    Shipper/Consignee (BCO)  --> role: 'user'
    Trucking Company  --> role:'carrier'
    Owner Operator --> role:'carrier'
    Freight Forwarder --> role: 'user'
    Customs Broker (BCO) --> role: 'user'
    Freight Broker --> role: 'user'
    Container Terminal (BCO) --> role: 'user'
    Chassis Provider (BCO) -->role: 'user'
    Container Leasing Company (BCO)--> role: 'user'

Please add other attributes for a user

Depends on the account type, on the second page, ask for account type specific information there.

Trucking Company/Owner Operator

Company Name [text]
Business Type [select from list: Sole Proprietor/Corporation/LLC/LLP]
First & Last Name [text]
Tax ID number [text]
MC number (optional for Owner Operator, but required for Trucking Company)
DOT number
SCAC number
Public Liability Insurance Provider / Policy Number
Cargo Insurance Provider / Policy Number
Hazmat? Yes/No
Area of Operation [Select from List: Areas Container Terminals Located]


Freight Forwarder

Company Name [text]
Business Type [select from list: Sole Proprietor/Corporation/LLC/LLP]
First & Last Name [text]
Tax ID number [text]
SCAC number


All accounts will be initially to be "not authorized" first.

Email notification will be sent out for email confirmation purpose.

IntelModal Admin review it and set it to be authorized on the user management page.

</pre>
